$-------------------------------------------------------------------------
== preprocessor.include-global ==
#include <<CURSOR>>
$-------------------------------------------------------------------------
== preprocessor.include-local ==
#include "<CURSOR>"
$-------------------------------------------------------------------------
== preprocessor.define ==
#define <CURSOR>            /*  */
$-------------------------------------------------------------------------
== preprocessor.undefine ==
#undef <CURSOR>            /*  */
$-------------------------------------------------------------------------
== preprocessor.if-else-endif ==
#if  |?CONDITION:u|
<CURSOR><SPLIT>
#else      /* -----  not |CONDITION|  ----- */
<+ELSE PART+>
#endif     /* -----  |CONDITION|  ----- */
$-------------------------------------------------------------------------
== preprocessor.ifdef-else-endif ==
#ifdef  |?CONDITION:u|
<CURSOR><SPLIT>
#else      /* -----  not |CONDITION|  ----- */
<+ELSE PART+>
#endif     /* -----  |CONDITION|  ----- */
$-------------------------------------------------------------------------
== preprocessor.ifndef-else-endif ==
#ifndef  |?CONDITION:u|
<CURSOR><SPLIT>
#else      /* -----  not |CONDITION|  ----- */
<+ELSE PART+>
#endif     /* -----  |CONDITION|  ----- */
$-------------------------------------------------------------------------
== preprocessor.ifndef-def-endif ==
#ifndef |?PREFIX:u||?BASENAME:L|_H
#define |PREFIX||BASENAME|_H
<CURSOR><SPLIT>
#endif /* ----- #ifndef |PREFIX||BASENAME|_H  ----- */
$-------------------------------------------------------------------------
== preprocessor.error ==
#error "<CURSOR>"          /*  */
$-------------------------------------------------------------------------
== preprocessor.line ==
#line <CURSOR>            /*  */
$-------------------------------------------------------------------------
== preprocessor.pragma ==
#pragma <CURSOR>            /*  */
$-------------------------------------------------------------------------
